 <div class="col-sm-9 sidenav no-padding">
      <div class="right" data-chat="">
        <div class="top">
          <span>To: <span class="name">Trung Quân (admin)</span></span>
          <span class="chat-menu-right">
            <a href="#attachsModal" id="show-attachs" data-toggle="modal">
              Tệp đính kèm
              <i class="fa fa-paperclip"></i>
            </a>
          </span>
          <span class="chat-menu-right">
            <a href="javascript:void(0)">&nbsp;</a>
          </span>
          <span class="chat-menu-right">
            <a href="#imagesModal" id="show-images" data-toggle="modal">
              Hình ảnh
              <i class="fa fa-photo"></i>
            </a>
          </span>
        </div>
        <div class="content-chat">
          <div class="chat" data-chat="">
            <div class="bubble me" data-mess-id="${item._id}">
              Hello, I'm Trung Quan, author of https://trungquandev.com
            </div>
            <div class="bubble you" data-mess-id="${item._id}">
              Really? I'm Trung Quan too, author of https://trungquandev.com,
              are you fake?
            </div>
            <div class="bubble me" data-mess-id="${item._id}">
              This is me !!!
            </div>
            <div class="bubble me bubble-image-file" data-mess-id="${item._id}">
              <img
                src="images/users/default-avatar-trungquandev-01.jpg"
                class="show-image-chat"
              />
            </div>
            <div class="bubble me bubble-image-file" data-mess-id="${item._id}">
              <a
                href="fileExample/Tệp văn bản - trungquandev.pdf"
                download="${ item.file.fileName }"
              >
                Tệp văn bản - trungquandev.pdf
              </a>
            </div>
            <div class="bubble you" data-mess-id="${item._id}">
              And this is me @@ !!!
            </div>
            <div
              class="bubble you bubble-image-file"
              data-mess-id="${item._id}"
            >
              <img
                src="images/users/default-avatar-trungquandev-02.jpg"
                class="show-image-chat"
              />
            </div>
            <div
              class="bubble you bubble-image-file"
              data-mess-id="${item._id}"
            >
              <a
                href="fileExample/Tệp văn bản - trungquandev.docx"
                download="${ item.file.fileName }"
              >
                Tệp văn bản - trungquandev.docx
              </a>
            </div>
          </div>
        </div>
        <div class="write" data-chat="">
          <input type="text" class="write-chat" data-chat="17071995" />
          <div class="icons">
            <a href="#" class="icon-chat" data-chat=""
              ><i class="fa fa-smile-o"></i
            ></a>
            <label for="image-chat">
              <input
                type="file"
                id="image-chat"
                name="my-image-chat"
                class="image-chat"
                data-chat=""
              />
              <i class="fa fa-photo"></i>
            </label>
            <label for="attach-chat">
              <input
                type="file"
                id="attach-chat"
                name="my-attach-chat"
                class="attach-chat"
                data-chat=""
              />
              <i class="fa fa-paperclip"></i>
            </label>
            <a
              href="#streamModal"
              id="video-chat"
              class="video-chat"
              data-chat=""
              data-toggle="modal"
            >
              <i class="fa fa-video-camera"></i>
            </a>
            <input type="hidden" id="peer-id" value="" />
          </div>
        </div>
      </div>

      <!-- Trường hợp tài khoản chưa có bạn bè thì hiện màn hình dưới. -->
      <!-- <div class="right active-chat" data-chat="person-default">
                <div class="top">
                    <span>To: <span class="name">Trung Quân (admin)</span></span>
                    <span class="chat-menu-right">
                        <a href="#">
                            Tệp đính kèm
                            <i class="fa fa-paperclip"></i>
                        </a>
                    </span>
                    <span class="chat-menu-right">
                        <a href="javascript:void(0)">&nbsp;</a>
                    </span>
                    <span class="chat-menu-right">
                        <a href="#">
                            Hình ảnh
                            <i class="fa fa-photo"></i>
                        </a>
                    </span>
                </div>
                <div class="content-chat">
                    <div class="chat active-chat" data-chat="person-default">
                        <div class="conversation-start">
                            <span>Một tháng trước</span>
                        </div>
                        <div class="bubble you">
                            Xin chào <strong>Trung Quân</strong>, tài khoản của bạn đã sẵn sàng.
                        </div>
                        <div class="bubble you">
                            Bây giờ, hãy tìm kiếm bạn bè để trò chuyện.
                        </div>
                        <div class="bubble you">
                            Lưu ý: Đây là tin nhắn tự động, vui lòng không trả lời lại. Cảm ơn <strong>Trung Quân</strong> !!!
                        </div>
                    </div>
                </div>
    
                <div class="write">
                    <input type="text" class="write-chat" data-chat="" value="Hiện tại không thể Chat - Hãy tìm bạn bè trước khi chat. Xin cảm ơn !!!">
                    <div class="icons">
                        <a href="#"><i class="fa fa-smile-o"></i></a>
                        <a href="#"><i class="fa fa-photo"></i></a>
                        <a href="#"><i class="fa fa-paperclip"></i></a>
                        <a href="#"><i class="fa fa-video-camera"></i></a>
                    </div>
                </div>
            </div> -->
    </div>