 <div class="modal fade" id="attachsModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">All Attachs in this conversation.</h4>
          </div>
          <div class="modal-body">
            <ul class="list-attachs">
              <li>
                <a
                  href="fileExample/Tệp văn bản - trungquandev.pdf"
                  download="${ item.file.fileName }"
                >
                  Tệp văn bản - trungquandev.pdf
                </a>
              </li>
              <li>
                <a
                  href="fileExample/Tệp văn bản - trungquandev.docx"
                  download="${ item.file.fileName }"
                >
                  Tệp văn bản - trungquandev.docx
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>