    <div class="modal fade" id="imagesModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">All Images in this conversation.</h4>
          </div>
          <div class="modal-body">
            <div class="all-images" style="visibility: hidden">
              <img src="images/users/default-avatar-trungquandev-01.jpg" />
              <img src="images/users/default-avatar-trungquandev-02.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>