 <div class="modal fade" id="user-profile-modal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Tài khoản cá nhân</h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#seting-profile">Cài đặt chung</a>
              </li>
              <li>
                <a
                  data-toggle="tab"
                  id="link-to-password-profile"
                  href="#password-profile"
                  >Quản lý mật khẩu</a
                >
              </li>
            </ul>
            <div class="tab-content">
              <div id="seting-profile" class="tab-pane fade in active">
                <div class="row">
                  <form
                    class="form-horizontal"
                    method="post"
                    role="form"
                    action="/update/userInfo"
                  >
                    <!-- left column -->
                    <div class="col-md-3">
                      <div class="text-center" id="div-update-avatar">
                        <div id="image-edit-profile">
                          <img
                            src="images/users/<%=user.avatar%>"
                            class="avatar img-circle"
                            id="img-preview"
                            alt="avatar"
                          />
                        </div>
                        <h6>Tải lên một ảnh mới...</h6>
                        <input
                          type="file"
                          class="form-control"
                          id="input-change-avatar"
                          name="avatar"
                        /><br />
                        <div id="show-button-update-avatar"></div>
                      </div>
                    </div>
                    <!-- edit form column -->
                    <div class="col-md-9 personal-info">
                      <div class="alert alert-danger alert-dismissable personal-info--hide">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                     <span>   Update user error example. </span>
                        
                        <br />
                        <!-- <script>openProfileModal();</script> -->
                      </div>

                      <div class="alert alert-success alert-dismissable personal-info--hide">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                       <span> 
                      
                       </span><br />
                        <!-- <script>openProfileModal();</script> -->
                      </div>
                      <% if (user.local.email) {%>
                      <h3>Local account.</h3>
                      <% } %>
                      <% if (user.facebook.email) {%>
                      <h3>Facebook account.</h3>
                      <% } %>
                      <% if (user.google.email) {%>
                      <h3>Google account.</h3>
                      <% } %>

                      <br />
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                          <div class="form-control" disabled>
                            <% if (user.local.email) {%>
                      <%= user.local.email %>
                      <% } %>
                      <% if (user.facebook.email) {%>
                      <%= user.facebook.email %>
                      <% } %>
                      <% if (user.google.email) {%>
                      <%= user.google.email %>
                      <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label">Username:</label>
                        <div class="col-md-8">
                          <input
                            class="form-control"
                            type="text"
                            id="edit-username"
                            name="username"
                            value="<%-user.userName%>"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Giới tính:</label>
                        <div class="col-lg-8">
                          <label class="radio-inline col-lg-2"
                            >Nam
                            <input
                             id="edit-male-gender"
                              type="radio"
                              name="gender"
                              value="male"
                              <% if (user.gender == "Male"){ %>checked<%} %>
                              required
                            />
                            <span class="checkmark"></span>
                          </label>
                          <label class="radio-inline col-lg-2"
                            >Nữ
                            <input
                              id="edit-female-gender"
                              type="radio"
                              name="gender"
                              value="female"
                              <% if (user.gender == "Female"){ %>checked<%} %>
                              required
                            />
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Địa chỉ:</label>
                        <div class="col-lg-8">
                          <input
                            class="form-control"
                            type="text"
                            name=""
                                                          id="edit-address"

                            value="<% if (user.address) {%> <%=user.address%> <%}else{%>  Chua xac dinh <% } %>"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label"
                          >Số điện thoại:</label
                        >
                        <div class="col-lg-8">
                          <input
                            class="form-control"
                            type="text"
                                                                                     id="edit-phone"

                            value="<% if (user.phone) {%> <%=user.address%> <%}else{%>  Chua xac dinh <% } %>"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                          <input
                            type="button"
                                                      id="save-edit-user-info"

                            class="btn btn-primary custom-background-btn-primary"
                            value="Lưu lại"
                          />
                          <span></span>
                          <input
                            type="button"
                                                      id="cancel-edit-user-info"

                            class="btn btn-default custom-background-btn-reset"
                            value="Hủy bỏ"
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div id="password-profile" class="tab-pane fade">
                <div class="col-md-9 personal-info">
                  <div class="alert alert-danger alert-dismissable personal-info--hide">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                   <span> Update password error example</span>
                    
                    <br />
                    <!-- <script>openProfilePasswordModal();</script> -->
                  </div>

                  <div class="alert alert-success alert-dismissable personal-info--hide">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                  <span>   Update password success example</span><br />
                    <!-- <script>openProfilePasswordModal();</script> -->
                  </div>

                  <h3>Thay đổi mật khẩu</h3>
                  <br />
                  <form
                    class="form-horizontal"
                    method="post"
                    role="form"
                    action=""
                  >
                    <div class="form-group">
                      <label class="col-md-4 control-label">Mật khẩu cũ</label>
                      <div class="col-md-8">
                        <input
                          class="form-control"
                          type="password"
                          name="current_password"
                          placeholder="Enter your curent password..."
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label">Mật khẩu mới</label>
                      <div class="col-md-8">
                        <input
                          class="form-control"
                          type="password"
                          name="new_password"
                          placeholder="Enter new password..."
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label"
                        >Nhập lại mật khẩu mới</label
                      >
                      <div class="col-md-8">
                        <input
                          class="form-control"
                          type="password"
                          name="confirm_new_password"
                          placeholder="Enter confirm new password..."
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label"></label>
                      <div class="col-md-8">
                        <input
                                                                              id="save-edit-user-password"

                          type="button"
                          class="btn btn-primary custom-background-btn-primary"
                          value="Lưu lại"
                        />
                        <span></span>
                        <input
                          id="cancel-edit-user-password"
                          type="button"
                          class="btn btn-default custom-background-btn-reset"
                          value="Hủy bỏ"
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>